<div class="col-md-4 offset-md-2">
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <input type="text" name="title" [(ngModel)]="game.title" placeholder="Title" class="form-control">
            </div>
            <br>
            <div class="form-group">
                <textarea name="description" [(ngModel)]="game.description" placeholder="Description" rows="2" class="form-control"></textarea>
            </div>
            <br>
            <div class="form-group">
                <input type="url" name="image" [(ngModel)]="game.image" placeholder="Image" class="form-control">
            </div>
            <br>
            <button class="btn btn-success form-control" (click)="edit ? updateGame() : saveNewGame()">
                Save
            </button>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="card card-body text-center">
        <img [src]="game.image" class="card-image-top">
        <h3>{{game.id}} . {{game.title}}</h3>
        <p>{{game.description}}</p>
        <p>{{game.createdAt | date: 'yyyy-MM-dd'}}</p>
    </div>
</div>